  * {
    box-sizing: border-box;
  }
  body {
    background: white;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    color:white;
  }
  a {
    text-decoration: none;
    color:white;
  }
  h2{
    font-family: cursive;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  h5 {
    font-size: larger;
    font-weight: 300;
    text-align: center;
  }
  #bg{
    position: absolute;
    z-index: -1;
    top: -2%;
    bottom: 0;
    left: 75%;
    right: 0;
    background: url('https://media2.giphy.com/media/5Xp1WbZSyhWJR3IRwN/giphy.gif?cid=ecf05e47bfq1p86ra6hm67s8htf3jbrl6wslxh50wo1mdle9&rid=giphy.gif&ct=g') no-repeat;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
  #bg2{
    position: absolute;
    z-index: -1;
    top: 118%;
    bottom: 0;
    left: -16%;
    right: 0;
    background: url('https://cdn.dribbble.com/users/155369/screenshots/2375296/tree.gif') no-repeat;
    opacity: 0.8;
    width: 67%;
    height: 76%;
  }
  .logo {
    max-width: 36%;
    max-height: 36%;
    margin-left: 35%;
  }
  .topnav {
    overflow: hidden;
    background: linear-gradient(to right,#1F3050,#496898);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #233657;
  }
  .topnav div:first-child{
      width: 70%;
  }
  .topnav2 {
    overflow: hidden;
    background: linear-gradient(to right,#1F3050,#496898);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #233657;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;  
  }
  .topnav2 div:first-child{
      width: 70%;
  }
  .topnav h2{
    text-align: center;
    font-family: cursive;
    font-size: large;
    margin-left: 30%;
  }
  .topnav #iconHolder{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 30%;
  }
  .topnav2 a {
    text-align: center;
    text-decoration: none;
  }  
  .topnav2 a:hover {
    background-color: #233657;
  }
  .topnav2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .leftcolumn {
    float: left;
    width: 75%;
    padding-right: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
  } 
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 5px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
  }  
  .fakeimg {
    float: right;
    width: 25%;
  }  
  .fakeimg2 {
    width: 25%;
  } 
  .card {
    background: linear-gradient(to right,#1F3050,#496898);
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #233657;
  }
  .row img{
    height: 100%;
    width: 80%;
    object-fit: contain;
    margin-left: 10%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .foot {
    box-shadow: 1px 1px 1px 1px #233657;
    border-radius: 25px;
  }  
  .footer {
    text-align: center;
    background: linear-gradient(to right,#1F3050,#496898);
    margin-top: 20px;
    border-radius: 25px;
  }
  .footer li {
    list-style-type: none;
    padding-right: 5%;
  }  
  .leftfooter {
    float: left;
    width: 50%;
  }
  .rightfooter {
    float: right;
    width: 50%;
  }
  .h2 {
    color:white;
  }
  .h3 {
    color:white;
    margin-top: 6%;
    margin-left: 22%;
  }
  .h4 {
    color:white;
    margin-left: 53%;
    font-size: larger;
    font-weight: bold;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .topnav{
        flex-direction: column;
    }
    .topnav div:first-child{
        width: 100%;
    }
    .topnav h2{
        font-size: small;
        margin-left: 2%;
    }
    .topnav #iconHolder{
          width: 100%;
    }
    .topnav a {
      width: 100%;
    }
  }
