* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
}

body {
    background: rgb(255, 255, 255);
    color: #000;
}

body.dark-theme {
    color: #eee;
    background: #121212;
}
body.dark-theme a {
    color: rgb(159, 185, 255);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.301);
}
body.dark-theme aside {
    color: #527dfc;
}
body.dark-theme button {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}
button a {
    width: 100%;
}
#main-button {
    color: rgb(255, 255, 255);
}
.blue {
    color: #527dfc;
}
@media screen and (max-width: 480px) {
    header {
        grid-area: header;
        text-align: center;
        padding: 3%;
        font-size: 0.6em;
    }

    section {
        align-items: center;
        grid-area: section;
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-areas:
            "logo logo logo"
            "nav nav nav"
            "sectionText sectionText sectionText"
            "carousel carousel carousel";
    }
    form {
        margin-left: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 10%;
        list-style-type: none;
        text-align: left;
        font-size: 0.8em;
        line-height: 1.5rem;
    }
    .sectionDetail {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        list-style-type: none;
        text-align: left;
        font-size: 0.9em;
        line-height: 2rem;
    }
    .formStyle {
        display: block;
        width: 90%;
        line-height: 2rem;
    }
    .logo {
        grid-area: logo;
        padding: 5%;
    }

    .empty {
        grid-area: empty;
    }

    .nav {
        padding-top: 2%;
        grid-area: nav;
    }

    .carousel {
        grid-area: carousel;
    }

    .navRight {
        text-align: center;
    }
    .navRight li {
        display: inline-block;
        margin: 0 1%;
        font-size: 0.7em;
        line-height: 1.5rem;
    }
    .navRight li:hover {
        font-size: 0.9em;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.678);
    }
    .sectionText {
        grid-area: sectionText;
        text-align: left;
        line-height: 2rem;
        font-size: 0.7em;
        margin: 5%;
    }
    .sectionText h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #fac927af;
        padding: 3%;
        margin-bottom: 1%;
        font-family: cursive;
        font-size: 2em;
    }
    .sectionText ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
        text-align: center;
    }
    .imageHolder {
        grid-area: image holder;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .imageHolder2 {
        display: none;
    }
    .textHolder {
        margin-top: 5%;
        margin-right: 5%;
        text-align: left;
    }
    .textHolder h3,
    h4 {
        line-height: 1.5em;
        font-size: 1em;
        margin-left: 5%;
    }
    .sectionAbout {
        grid-area: sectionAbout;
        text-align: left;
        line-height: 1.5rem;
        font-size: 0.5em;
        margin: 5%;
    }
    .sectionButton {
        grid-area: sectionButton;
        text-align: center;
        line-height: 1.5rem;
        font-size: 0.5em;
        margin: 5%;
    }
    .main-button {
        display: block;
        width: 100%;
        border: none;
        background-color: rgb(0, 75, 160);
        cursor: pointer;
        text-align: center;
        box-shadow: 1px 1px 1px 1px #000000;
        margin-bottom: 5%;
        padding: 2%;
        font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
        font-size: large;
    }
    .main-button a {
        text-decoration: none;
        text-shadow: 2px 2px 3px rgb(80, 80, 80);
        font-size: 1em;
        display: inline-block;
        color: white;
    }
    .main-button:hover {
        background-color: orangered;
        box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        padding: 3%;
        font-size: 1.3em;
    }
    footer {
        grid-area: footer;
        text-align: center;
        font-size: 0.6em;
        line-height: 1.2rem;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .footer-button {
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        color: black;
        font-size: 1em;
        margin-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: cursive;
    }
    .footer-button:hover {
        background-color: goldenrod;
        font-weight: bold;
    }
    .centerFix {
        display: grid;
        justify-content: center;
        align-self: center;
        font-size: 1.5em;
        margin-top: 4%;
    }
    .commentHolder {
        line-height: 4.6em;
    }
    .commentHolder textarea {
        display: block;
        width: 90%;
        margin-bottom: -10%;
    }
    .vectorCon {
        line-height: 2.5em;
    }
    .formHolder {
        line-height: 2.6em;
    }
    .aboutText {
        padding: 5%;
        line-height: 2.5em;
        font-size: 0.7em;
        margin-bottom: -5%;
    }
}
@media screen and (max-width: 780px) {
    header {
        grid-area: header;
        text-align: center;
        padding: 2%;
        font-size: 1em;
    }

    section {
        align-items: center;
        grid-area: section;
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-areas:
            "logo logo logo"
            "nav nav nav"
            "sectionText sectionText sectionText"
            "carousel carousel carousel";
    }
    form {
        margin-left: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 10%;
        list-style-type: none;
        text-align: left;
        font-size: 0.8em;
        line-height: 1.5rem;
    }
    .sectionDetail {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        list-style-type: none;
        text-align: left;
        font-size: 0.9em;
        line-height: 2rem;
    }
    .formStyle {
        display: block;
        width: 90%;
        line-height: 2rem;
    }
    .logo {
        grid-area: logo;
        padding: 1% 3% 0;
    }
    .imgBlb {
        display: block;
        width: 50%;
        margin: 5% auto 3%;
    } 
    .empty {
        grid-area: empty;
    }

    .nav {
        padding-top: 2%;
        grid-area: nav;
    }

    .carousel {
        grid-area: carousel;
    }

    .navRight {
        text-align: center;
    }
    .navRight li {
        display: inline-block;
        margin: 1% 1% 0;
        font-size: 1, 3em;
        line-height: 1.5rem;
    }
    .navRight li:hover {
        font-size: 1.5em;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.678);
    }
    .sectionText {
        grid-area: sectionText;
        text-align: left;
        line-height: 2rem;
        font-size: 0.7em;
        margin: 2%;
    }
    .sectionText h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #fac927af;
        padding: 3%;
        margin-bottom: 1%;
        font-family: cursive;
        font-size: 2em;
    }
    .sectionText ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        text-align: center;
    }
    .imageHolder {
        grid-area: image holder;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .imageHolder2 {
        display: none;
    }
    .textHolder {
        margin-top: 2%;
        margin-right: 5%;
        text-align: center;
    }
    .textHolder h3,
    h4 {
        line-height: 1.5em;
        font-size: 1.2em;
        margin-left: 15%;
        margin-right: 10%;
    }
    .sectionAbout {
        grid-area: sectionAbout;
        text-align: center;
        line-height: 1.6rem;
        font-size: 0.7em;
        margin: 0 6% 1%;
    }
    .sectionButton {
        grid-area: sectionButton;
        text-align: center;
        line-height: 2.5rem;
        font-size: 1em;
        margin: 2%;
        padding: 0 10% 0;
    }
    .main-button {
        display: block;
        width: 100%;
        border: none;
        background-color: rgb(0, 75, 160);
        cursor: pointer;
        text-align: center;
        box-shadow: 1px 1px 1px 1px #000000;
        margin-bottom: 5%;
        padding: 3%;
        font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
        font-size: large;
    }
    .main-button a {
        text-decoration: none;
        text-shadow: 2px 2px 3px rgb(80, 80, 80);
        font-size: 1em;
        display: inline-block;
        color: white;
    }
    .main-button:hover {
        background-color: orangered;
        box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 3%;
        font-size: 1.3em;
    }
    footer {
        grid-area: footer;
        text-align: center;
        font-size: 0.6em;
        line-height: 1.2rem;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .footer-button {
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        color: black;
        font-size: 1em;
        margin-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: cursive;
    }
    .footer-button:hover {
        background-color: goldenrod;
        font-weight: bold;
    }
    .centerFix {
        display: grid;
        justify-content: center;
        align-self: center;
        font-size: 1.5em;
        margin-top: 4%;
    }
    .commentHolder {
        line-height: 4.6em;
    }
    .commentHolder textarea {
        display: block;
        width: 90%;
        margin-bottom: -10%;
    }
    .vectorCon {
        line-height: 2.5em;
    }
    .formHolder {
        line-height: 2.6em;
    }
    .aboutText {
        padding: 5%;
        line-height: 2.5em;
        font-size: 1em;
        margin-bottom: -5%;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 65% 30%;
        justify-content: space-between;
        padding: 1% 5%;
        grid-template-areas:
            "header header"
            "section section"
            "main aside"
            "footer footer";
    }

    header {
        grid-area: header;
        text-align: center;
        padding-top: 1%;
        font-size: 1.5em;
        padding-bottom: 3%;
    }

    section {
        align-items: center;
        grid-area: section;
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-areas:
            "logo empty nav"
            "sectionText sectionText sectionText";
    }

    .logo {
        grid-area: logo;
    }
    .logo img {
        width: 120%;
    }

    .empty {
        grid-area: empty;
    }

    .nav {
        grid-area: nav;
    }

    .carousel {
        grid-area: carousel;
    }

    .navRight {
        text-align: center;
    }
    .navRight li {
        display: inline-block;
        margin: 2%;
        font-size: 1.4em;
        font-weight: 500;
    }
    .navRight li:hover {
        font-size: 1.6em;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.678);
    }
    .sectionText {
        grid-area: sectionText;
        text-align: left;
        line-height: 1rem;
        margin-top: 1%;
    }
    .sectionText h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #fac927af;
        padding: 3%;
        margin-bottom: 1%;
        font-family: cursive;
        font-size: 2em;
    }
    .sectionText ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        text-align: center;
    }
    .imageHolder {
        grid-area: imageHolder;
        display: grid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .imageHolder2 {
        grid-area: imageHolder;
        display: grid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #image {
        object-fit: cover;
        height: 100%;
        min-height: 100%;
    }
    .textHolder {
        grid-area: textHolder;
        margin-top: 1%;
        margin-right: 10%;
        text-align: left;
        padding: 5%;
        font-size: 2em;
        line-height: 3.5rem;
    }
    .sectionAbout {
        grid-area: sectionAbout;
        text-align: left;
        line-height: 2rem;
        font-size: 1em;
        margin: 5%;
    }
    .sectionButton {
        grid-area: sectionButton;
        text-align: center;
        line-height: 5rem;
        font-size: 1em;
        margin: 5%;
    }

    .main-button {
        display: block;
        width: 100%;
        border: none;
        background-color: rgb(0, 75, 160);
        cursor: pointer;
        text-align: center;
        box-shadow: 2px 1px 2px 3px #0000004b;
        margin-bottom: 5%;
        padding: 2%;
        font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
        font-size: large;
    }
    .main-button a {
        text-decoration: none;
        text-shadow: 2px 2px 3px rgb(80, 80, 80);
        font-size: 1em;
        display: inline-block;
        color: white;
    }
    .main-button:hover {
        background-color: orangered;
        box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    }

    main {
        grid-area: main;
        margin-top: 4%;
    }

    aside {
        grid-area: aside;
        margin-top: 10%;
    }

    footer {
        grid-area: footer;
        text-align: center;
        font-size: 1em;
        line-height: 1rem;
        margin-top: 10%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-top: 10%;
        list-style-type: none;
        text-align: left;
        font-size: 1.5em;
        line-height: 2.5rem;
    }
    .sectionDetail {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        list-style-type: none;
        text-align: left;
        font-size: 1em;
        line-height: 4.5rem;
    }
    .footer-button {
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
        color: black;
        font-size: 1em;
        margin-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: cursive;
    }
    .footer-button:hover {
        background-color: #527dfc;
        color: white;
    }
    .formStyle {
        display: inline-grid;
    }
    .centerFix {
        display: grid;
        justify-content: center;
        align-self: center;
        font-size: 3em;
        margin-top: 1%;
        margin-bottom: -4%;
    }
    .commentHolder {
        line-height: 3.5em;
        margin-top: 5%;
    }
    .vectorCon {
        line-height: 3.5em;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    .formHolder {
        line-height: 1.8em;
        margin-bottom: 5%;
        margin-top: 2%;
    }
    .aboutText {
        line-height: 2.5em;
        font-size: 1.1em;
    }
}
