.tshirtExt {
  color: black;
  font-size: large;
  font-weight: bold;
}
.mainHolder {
  width: 100%;
}
.mainHolder select {
  margin: 1%;
  background: #e6cabc;
  color: rgb(0, 0, 0);
  font-size: large;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 40px 40px;
}

.mainHolder span {
  color: black;
  font-size: large;
  font-weight: bold;
}

.bannerHolder {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  padding: 1%;
}
.bannerHolder a {
  text-decoration: none;
  color: #922e00;
  font-size: large;
  font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.bannerHolder a:hover {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: larger;
}
.banner {
  background: url("../images/bg5.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 70%;
  text-align: left;
  padding: 2% 1% 1% 5%;
  position: relative;
  margin: auto;
}
.content:nth-child(2)::after {
  background: #9c6c55;
  content: "";
  bottom: -4px;
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 50%;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content:nth-child(2):hover::after {
  width: 80%;
  background: orange;
}
.input {
  margin: 1%;
  background: #e6cabc;
  color: rgb(0, 0, 0);
  font-size: large;
  border-radius: 40px 40px;
}
.inputCor {
  background: linear-gradient(
    45deg,
    blue,
    indigo,
    violet,
    green,
    yellow,
    orange,
    red,
    black,
    white
  );
  border-radius: 80px 80px;
  border: none transparent;
  width: 50%;
}
.input3 {
  margin: 1%;
  padding: 1%;
  background: #e6cabc;
  color: rgb(0, 0, 0);
  font-size: large;
  border-radius: 40px 40px;
  box-shadow: 0 1px 1px 0 #0000006b;
}
.holderText2 {
  background: url("../images/bg4.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2%;
  width: 44%;
  height: 100%;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.288);
  margin-left: 28%;
}
.holderText2 ul {
  text-align: left;
  font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
  font-size: large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.holderText2 button {
  margin-bottom: 3%;
}
.main-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #e6cabc;
  cursor: pointer;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #0000004b;
  font-weight: bold;
  font-size: larger;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 2%;
}
.main-button a {
  text-decoration: none;
  font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
  font-size: large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
  color: black;

}
.main-button:hover {
  background-color: #9c6c55;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}
.drawing-area {
  position: absolute;
  z-index: 10;
  top: 29%;
  left: 20%;
  width: 21%;
  height: 12%;
}
.canvas-container {
  width: 200px;
  height: 400px;
  position: relative;
  user-select: none;
}
.tshirtText {
  display: flex;
  flex-direction: column;
}
#tshirt-div {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}
#canvas {
  position: absolute;
  width: 200px;
  height: 400px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}
.tshirtHolder {
  width: 100%;
  height: 50%;
  margin: 24% 0 0 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.tshirt-backgroundpicture {
  width: 100%;
  height: 100%;
}
